<section class="container banner-hero">
    <img src="{{ asset('build/images/moi.webp') }}" class="banner-hero-img" alt="Profil photo" loading="lazy">
    <div class="banner-hero-content">
        <h1 class="banner-hero-title">Software developer, founder, and amateur sky diving.</h1>
        <p class="banner-hero-description">I'm a <span class="text-primary">software engineer specializing in web development</span>. I have a passion for building simple, clean, and maintainable software. I'm a full-stack developer, but I'm particularly passionate about front-end development.</p>
        <div class="banner-hero-socials">
            <a href="#">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-square-github"></i>
            </a>
        </div>
    </div>
</section>
