<div class="card card-border px-2 py-2 no-hover">
    <h2 class="card-title">Stay in touch</h2>
    <p class="card-text">Get notified when I publish something new, and unsubscribe at any time.</p>

    <div class="newsletter-input">
        <input type="email" placeholder="Email address">
        <button href="#" class="btn-secondary">Join</button>
    </div>
</div>