{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
   {% include 'home/_banner.html.twig' %}
   {% include 'home/_carousel.html.twig' %}

   <article class="card px-2 py-1 mt-5">
      <p class="card-date">Friday, Apris 26th</p>
      <h3 class="card-title">Title</h3>
      <p class="card-content">
         Lorem ipsum dolor sit amet. Et inventore sequi non fugit dolorem et quia maiores qui voluptas dolorem ut aspernatur illo. Nam minima totam et adipisci architecto eum ipsum iusto aut iure amet et adipisci veritatis qui enim explicabo nam esse itaque. Id rerum enim in numquam alias sit accusamus doloremque qui nobis unde id numquam tempora sed ipsam excepturi! Eum modi assumenda et quae quos et illum blanditiis aut voluptatum voluptate qui enim voluptatem nam recusandae illum. </p><p>Et aliquam quis sed molestias architecto non rerum explicabo et illum dignissimos id cupiditate reiciendis rem omnis perspiciatis. In explicabo harum est suscipit natus non nulla maiores aut laudantium Quis. </p><p>Et Quis voluptatem ab dolor natus non consectetur numquam aut fugiat atque non similique dicta. Qui repellendus molestias et sunt distinctio est ducimus aliquid. Eos nihil nostrum ut placeat omnis aut delectus quis et eveniet neque. Et blanditiis suscipit ut quia rerum quo sint laborum quo quia quisquam sed beatae illo.
      </p>
      <a href="#" class="btn-secondary">Read more</a>
   </article>
{% endblock %}