{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
   <h1>Page d'accueil</h1>
   <h2>Page d'accueil</h2>
   <h3>Page d'accueil</h3>
   <h4>Page d'accueil</h4>
   <h5>Page d'accueil</h5>
   <h6>Page d'accueil</h6>
   <p>Page d'accueil</p>

   <a href="#" class="btn-primary">Bouton</a>
   <a href="#" class="btn-secondary">Bouton</a>
   <a href="#" class="btn-danger">Bouton</a>
   <a href="#" class="btn-info">Bouton</a>
   <a href="#" class="btn-success">Bouton</a>
   <a href="#" class="btn-warning">Bouton</a>

   <div class="d-flex">
      <p>TEST</p>
      <p>TEST</p>
   </div>
{% endblock %}