html,
body {
    scroll-behavior: smooth;
}

html {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 5%;
        right: 5%;
        box-shadow: $box-shadow-default;
        pointer-events: none;
    }
}

body {
    background: getGradientCircle(map-get($colors, primary));
    color: getTextColor(map-get($colors, primary));
}

a {
    transition: all .3s ease;

    &:hover {
        color: map-get($colors, secondary);
    }
}