<header class="navbar">
    <nav class="navbar-content">
        <ul class="navbar-links">
            <li class="navbar-item">
                <a href="#" class="navbar-link">About</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="navbar-link">About</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="navbar-link">About</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="navbar-link">About</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="navbar-link">About</a>
            </li>
        </ul>
    </nav>
</header>